<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>比赛日程</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!--标准mui.css-->
    <link rel="stylesheet" href="../../libs/mui/css/mui.min.css">
    <!--App自定义的css-->
    <link rel="stylesheet" type="text/css" href="../../libs/mui/css/app.css" />

    <link rel="stylesheet" type="text/css" href="../../css/aiqiumi-app.css" />


    <link rel="stylesheet" type="text/css" href="./css/team_schedule_detail.css" />

    <!--自适应-->
    <script>
        //自动适应屏幕
        !(function(doc, win) {
            var docEle = doc.documentElement,
                    evt = "onorientationchange" in window ? "orientationchange" : "resize",
                    fn = function() {
                        var width = docEle.clientWidth;
                        width && (docEle.style.fontSize = 40 * (width / 750) + "px");
                    };
            win.addEventListener(evt, fn, false);
            doc.addEventListener("DOMContentLoaded", fn, false);
        }(document, window));
    </script>

    <style>
        html {
            background:  #ecf1f5;
        }
        .mui-content {
            background: #ecf1f5;
        }
    </style>

</head>
<body>


<div class="mui-content" id="match_schedule">

    <div class="detail_base_info" >
        <div class="home-team">
            <img :src="home_team_logo" alt="" id="home_team_image" />
            <span class="team_name" > {{ home_team_name }} </span>
        </div>
        <div class="team-vs">
            <span class="vs" style="line-height: 40px;">VS</span>
        </div>
        <div class="away-team">
            <img :src="away_team_logo" alt="" id="away_team_image" />
            <span class="team_name"> {{ away_team_name }} </span>
        </div>
    </div>


    <!-- 信息-->
    <div class="detail_schedule_info">

            <div class="detail_base_list" v-if="matchName&&matchName.length>0">
                <div class="left">
                    <img class="icon" src = "./images/schedule_icon_match.png">
                </div>
                <div class="right" id="match_title" >
                    <span id="left"> {{ matchName }} </span>
                </div>
            </div>

            <div class="detail_base_list" v-if="matchType&&matchType>0">
                <div class="left">
                    <img class="icon" src="images/schedule_icon_type.png">
                </div>
                <div class="right"  id="match_number_type" >
                    <span id="left">{{ matchType }}人制</span>
                </div>
            </div>

            <!-- 时间-->
            <div class="detail_base_list" v-if="matchBeginTime&&matchBeginTime.length>0">
                <div class="left">
                    <img class="icon" src="./images/schedule_icon_time.png">
                </div>
                <div class="right" id = "match_time" >
                    <span id="left">{{matchBeginTime}}</span>
                    <span id="right"> {{ matchApplyEndTime }} </span>
                </div>
            </div>


            <div class="detail_base_list" v-if="matchPlaceName&&matchPlaceName.length>0">
                <div class="left">
                    <img class="icon" src="./images/schedule_icon_place.png">
                </div>
                <div class="right" id="match_place">
                    <span id="left">{{ matchPlaceName }}</span>
                </div>
            </div>

             <!--队服颜色-->
            <div class="detail_base_list">
                <div class="left">
                    <img class="icon" src="./images/schedule_icon_clothes.png">
                </div>
                <div class="right">
                    <span id="left" class="color-btn" v-bind:style = "matchColor" ></span>
                    <input type="hidden" value="0"/>
                </div>
            </div>

            <!-- 人数上限-->
            <div class="detail_base_list" v-if="matchMaxPeople&&matchMaxPeople>0">
                <div class="left">
                    <img class="icon" src="images/schedule_icon_toplimit.png">
                </div>
                <div class="right" id="match_people_limit">
                    <span id="left">{{ matchMaxPeople }}人</span>
                </div>
            </div>
            <!-- 备注-->
            <div class="detail_base_list detail_base_bei mui-clearfix" v-if="matchDesc&&matchDesc.length>0">
                <div class="left">
                    <img class="icon" src="images/schedule_icon_text.png">
                </div>
                <div class="right" id="match_detail">
                    <span id="content">{{ matchDesc }}</span>
                </div>
            </div>
    </div>

    <!--邀请-->
    <div class="invite_box" v-if="isShareState">
        <span class="invite_hd">邀请球友参与</span>
        <div class="other-app">
            <div>
                <a class="wx-app" @click="wxShareAction" > </a>
                <span class="title" >微信好友</span>
            </div>
            <div>
                <a class="wb-app" @click="wbShareAction" > </a>
                <span class="title">微信朋友圈</span>
            </div>
            <div>
                <a class = "message-app" @click="messsageShareAction"></a>
                <span title="title">短信</span>
            </div>

        </div>
    </div>

    <!-- 返回修改-->
    <div class="detail_bottom" @click="editAction" v-if="isShareState" >
    <span style="color: #00a8ef;display: block;font-size: 0.9375em; height: 49px; line-height: 49px; text-align: center;">修改</span>
    </div>

</div>




<!--loading-->
<div id="loading">
    <div class="loading_img">
        <img src="../../images/loading.gif" />
    </div>

</div>



    <script src="../../libs/vue/vue.js"></script>
    <script src="../../libs/vue/vue-resource.js"></script>
    <script src="../../libs/jquery/jquery.min.js"></script>

    <script src="../../config/config.js"></script>
    <script src="../../libs/crypto/base64.js"></script>
    <script src="../controller/viewController.js"></script>

    <script src="../../libs/mui/js/mui.min.js"></script>

    <script src="./controller/createMatchSCheduleController.js"></script>

    <script>
        var createMatchScheduleController = new CreateMatchScheduleController();
        createMatchScheduleController.init();

        //请求参数
        //eyJodHRwX3VybCI6Imh0dHA6Ly9uai5haXFpdW1pLmNuL2FwaS92MSIsInRlYW1faWQiOjMwMjksInRva2VuIjoiempxSWJGSFdMWXBRWHlEZ1Zpa1NNSUxwS1dsQ29kaG1yandIQk1OaSIsImlkIjo1Nzh9
        //{"http_url":"http://nj.aiqiumi.cn/api/v1","team_id":3029,"token":"zjqIbFHWLYpQXyDgVikSMILpKWlCodhmrjwHBMNi","id":578}
        //请求参数
    </script>

</body>
</html>