.mui-content{
	background:#ecf1f5;}
.aiqiumi_place_ul{
	overflow-y:auto;
	list-style:none;
	margin:0;
	padding:0;
	padding-top: 0px;
	background: #FFFFFF;
	overflow-x:hidden;
}

.aiqiumi_place_li{
	width: 100%;
	height: 55px;
	margin:0;
	position:relative;
}
.aiqiumi_place_li:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	left:0;
	bottom:0;
	background-color: #e0e0e0;
	-webkit-transform: scale(1,.5);
	transform: scale(1,.5);
	-webkit-transform-origin: center bottom;
	transform-origin: center bottom
}
.aiqiumi_li_place_icon{
	width: 8px;
	height: 15px;
	margin-left: 15px;
	margin-top: 23px;

}

.aiqiumi_li_place_name{
	display: block;
	color: #333333;
	font-size: 0.875em;

	height: 20px;
	line-height: 20px;

	margin-top: -34px;
	padding-left: 40px;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.aiqiumi_li_place_address{
	display: inline-block;
	width: 100%;
	color: #919499;
	font-size: 0.75em;
	height: 15px;
	line-height: 15px;
	margin-top: 0px;
	padding-left: 40px;
	margin-right: 40px;
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.search_box{
	padding:10px;
	background: #fff;
}
.search_box input{
	background: #e9edf1;
	height: 31px;
	border:none;
	margin-bottom:0;
}
